.workout-thumbnail {
    border-radius: 25px;
    height: 170px;
    width: 95%;
    margin: 0 auto;
    padding: 0 auto;
}

.workout-thumbnail-box {
    padding: 10px 10px;
    width: 100%;
    color: white;
    font-family: "Roboto", "Times New Roman", Times, serif;
    display: inline;
}

.pro {
    background-color: #98D693;
    padding: 0px 10px;
    margin: 0px 3px;
    text-align: center;
    font-size: 14px;
    width: 20%;
    border-radius: 25px;
    display: inline;
    min-height: 24px;
}

.level {
    background-color: #5D50AF;
    padding: 0px 10px;
    margin: 0px 3px;
    text-align: center;
    font-size: 14px;
    width: 20%;
    border-radius: 25px;
    display: inline;
    min-height: 24px;
}

.like {
    padding: 0px 10px;
    margin: 0px 3px;
    display: inline;
    text-align: right;
    width: 80%;
}